<header id="header">
    <div class="back-button">
        <button class="back-btn" onclick="goBack()"><i class="fa-solid fa-arrow-left fa-xl"></i> </button>
    </div>
    <h2>
        <%= pageTitle %>
    </h2>
</header>