<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <img id="logo" src="/images/Rick_and_Morty.svg" alt="Rick and Morty logo">
    <div class="container">
        <div class="card">
            <img src="/images/Rick_and_Morty_Promo.webp" alt="">
            <button class="btn" id="charBtn" onclick="window.location.href='/characters'">Characters</button>
        </div>
        <div class="card">
            <img src="/images/S2e2_repairing_tv.webp" alt="">
            <button class="btn" id="episodeBtn" onclick="window.location.href='/episodes'">Episodes</button>
        </div>
        <div class="card">
            <img src="/images/S3e5_resort.webp" alt="">
            <button class="btn" id="locationBtn" onclick="window.location.href='/locations'">Locations</button>
        </div>
    </div>
</body>

</html>